html, body {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: sans-serif;
	height: 100%;
}

p, form {
    margin: 1ex 10%;
    font-size: 200%;
    text-align: center;
    overflow: hidden;
}

input {
    font-size: 150%;
    width: 98%;
}

#app_menu {
    background-color: #EEE;
    overflow: hidden;
}

#app_menu a {
    width: 46%;
    float: left;
    border-top: 1px solid #DDD;
    padding:1ex 2%;
    color: #777;
    text-decoration: none;
    text-align: center;
    height: 4ex;
    text-shadow: -1px 1px 0 white;
}

#app_menu a:nth-child(even) {
    border-left: 1px solid #DDD;
}

.status {
	color: #AAA;
	font-size: 100%;
}

.input_pairs input {
	width: 48%;
}

button.check,
button.dunno {
	font-size: 50%;
	background-color: pink;
	color: white;
	float: left;
	border: 1px solid #AAA;
}

button.check {
	background-color: green;
	float: right;
}

.si {
    color: green;
}

.no {
    color: red
}

.memo-status {
	width: 100%;
	display: block;
	height: 2px;
	background-color: #0B0;
}

.status-need-revision {
	width: 0%;
	display: block;
	height: 2px;
	background-color: #BD9;
	float: right;
}

.status-being-memorized {
	width: 0%;
	display: block;
	height: 2px;
	background-color: #EE0;
	float: right;
}

.status-unseen {
    width: 100%;
	display: block;
	height: 2px;
	background-color: #FFF;
	float: right;
}

.open_lesson {
	display: block;
	padding: 1ex .6em;
	line-height: 1em;
	text-decoration: none;
	color: rgba(0,0,0,.7);
	position: relative;
    background-image: -webkit-linear-gradient(bottom, rgb(225,225,225) 0%, rgb(245,245,245) 50%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(225,225,225)),
        color-stop(0.50, rgb(245,245,245))
    );
    white-space:nowrap;
    text-overflow: ellipsis;
}

.open_lesson:before {
	display: 'block';
	content: ' ';
	width: 0; height: 0;
	border: .4ex solid #DDD;
	position: absolute;
	top: 1.6ex; right: .4em;
	border-color: transparent transparent transparent #333;
	border-right-width: 0;
}

#log_si, #log_no {
	clear: both;
    width: 40%;
    padding: 0; margin: 0;
    margin-left: 9%;
    display: inline-block;
    vertical-align: top;
}

.ui-templates {
	display: none;
}

.screen {
	display: none;
	min-height: 100%;
}

.root {
    height: 80%;
}

.root.list #list,
.root.edit #edit,
.root.lesson #lesson,
.root.dialog #dialog {
	display: block;
}